/**
 * SophiDebugBar: Shared Styles.
 * These styles are shared between the front end and admin
 */
@import "../variables";

.sophi-request {
	background-color: $white;
	margin: 1em 0;
	padding: 1em;

	&-header {
		display: flex;

		&-item {
			padding: 0 1em 0 0;

			&:last-child {
				padding: 0;
			}
		}
	}

	&-details {
		display: flex;
		padding-top: 1em;

		& > div {
			flex: 0 0 50%;

			&:first-child {
				padding-right: 1em;
			}
		}
	}
}
